.homvideo-container {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.homvideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (min-width: 768px) and (max-width: 1024px) {
  .homvideo-container {
    height: 70vh;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .homvideo-container {
    height: 80vh;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .homvideo-container {
    height: 65vh;
  }
}


@media (min-width: 540px) and (max-width: 720px) {
  .homvideo-container {
    height: 60vh;
  }
}

@media (max-width: 480px) {
  .homvideo-container {
    width: 95vw;
    height: 68vw;
  }

  .homvideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}